<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common::common_head(~{::title},~{},~{})">
    <title>列表</title>
</head>
<body>
<div id="list" class="panel panel-default">
    <div class="panel-heading" style="height: 50px;">
        <span style="font-size: 25px;">列表</span>
        <button class="btn btn-primary btn-sm" style="float: right;" onclick="javascript:showInfo('1');">新增</button>
    </div>
    <table id="tab"></table>
</div>

<div class="modal fade" id="info-modal" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modal-title">剧本设置</h4>
            </div>
            <div class="modal-body">
                <form id="info-form" enctype="multipart/form-data">
                    <input type="hidden" name="id" id="id" value="">
                    <div class="form-group">
                        <label for="title">标题</label>
                        <input name="title" id="title" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="sub_title">小标题</label>
                        <input name="subTitle" id="sub_title" type="text" class="form-control" placeholder="逗号分隔">
                    </div>
                    <div class="form-group">
                        <label for="menu_id">归属菜单</label>
                        <select id="menu_id" name="menuId" class="form-control">
                            <option th:each="menu:${menuList}" th:value="${menu.id}" th:text="${menu.full_name}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="picture">图片</label>
                        <input type="file" class="form-control-file" id="picture" name="picture">
                    </div>
                    <div class="form-group">
                        <label for="description">图片介绍</label>
                        <textarea name="description" id="description" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="article_url">文章链接</label>
                        <input name="articleUrl" id="article_url" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="is_hot">HOT标识</label>
                        <select name="isHot" id="is_hot" class="form-control">
                            <option value="0">否</option>
                            <option value="1">是</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="number">人数</label>
                        <input name="number" id="number" type="text" class="form-control" placeholder="数字，例如1或者2">
                    </div>
                    <div class="form-group">
                        <label for="type_name">类型</label>
                        <input name="typeName" id="type_name" type="text" class="form-control" placeholder="输入字符串">
                    </div>
                    <div class="form-group">
                        <label for="duration">建议时长</label>
                        <input name="duration" id="duration" type="text" class="form-control" placeholder="数字，输入什么小程序显示什么">
                    </div>
                    <div class="form-group">
                        <label for="price">价格</label>
                        <input name="price" id="price" type="text" class="form-control">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="saveDramaData();">保存</button>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">

    $(function () {
        loadListData();
    });

    function showInfo(type, index) {
        if (type == '1') {
            $('#info-form input').each(function () {
                $(this).val('');
            });
        }
        if (type == '2') {
            var rowData = $('#tab').bootstrapTable('getData')[index];
            for (var key in rowData) {
                $('#' + key).val(rowData[key]);
            }
        }
        $('#info-modal').modal('show');
    }

    function hideInfo() {
        $('#info-form input').each(function () {
            $(this).val('');
        });
        $('#description').val('');
        $('#info-modal').modal('hide');
    }

    function refreshTable() {
        $('#tab').bootstrapTable('refresh');
    }

    function saveDramaData() {
        $('#info-form').ajaxSubmit({
            type: 'POST',
            url: '/web/saveDrama',
            success: function (data) {
                refreshTable();
                if (data.code == '1') {
                    hideInfo();
                } else {
                    alert(data.message);
                }
            }
        })
    }

    function loadListData() {
        $("#tab").bootstrapTable({
            url: '/web/queryDramaListData',
            columns: columns,
            cache: false,
            striped: true,
            pagination: true,
            pageNumber: 1,
            pageSize: 10,
            paginationPreText: '上一页',
            paginationNextText: '下一页',
            paginationLoop: true,
            sidePagination: 'server',
            queryParams: function queryParams(params) {
                return params;
            },
        });
    }

    function opFormatter(v, row, index) {
        return '<button class="btn btn-primary btn-sm" type="button" onclick="showInfo(\'2\',\'' + index + '\');">修改</button>'
            + '&emsp;' +
            '<button class="btn btn-danger btn-sm" type="button" onclick="deleteDrama(\'' + row.id + '\');">删除</button>';
    }

    function isHotFormatter(v, row, index) {
        if (v == '1') {
            return '<span class="label label-danger">是</span>';
        } else {
            return '<span>否</span>';
        }
    }

    function deleteDrama(id) {
        $.ajax({
            type: 'POST',
            url: '/web/deleteDrama',
            data: {id: id},
            dataType: 'json',
            async: false,
            success: function (result) {
                refreshTable();
                if (result.code == '1') {
                    alert('删除成功');
                }
            }
        });
    }

    var columns = [
        {field: 'title', title: '标题', width: 100, align: 'center'},
        {field: 'is_hot', title: 'HOT标识', width: 100, align: 'center', formatter: isHotFormatter},
        {field: 'number', title: '人数', width: 80, align: 'center'},
        {field: 'type_name', title: '类型', width: 100, align: 'center'},
        {field: 'price', title: '价格', width: 100, align: 'center'},
        {field: 'op', title: '操作', width: 40, align: 'center', formatter: opFormatter}
    ];
</script>
</html>