<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common::common_head(~{::title},~{},~{})">
    <title>列表</title>
    <script type="text/javascript" src="drama-header.js"></script>
</head>
<body id="body">
<div class="container">
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">后台管理</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav" id="menu">
                <li data-toggle="1" class="active"><a href="javascript:;">列表</a></li>
                <li data-toggle="2"><a href="javascript:;">类型设置</a></li>
            </ul>
        </div>
    </div>
    <div>
        <iframe id="tab-frame" name="tab-frame" marginwidth="0" marginheight="0" scrolling="none" width="100%" height="100%" frameborder="0" src=""></iframe>
    </div>
</div>
</body>
<script type="text/javascript">

    $(function () {
        setSrc('/web/listIndex');
        document.getElementsByTagName('body')[0].style.height = window.innerHeight + 'px';
        var iframeHeight = window.innerHeight - document.getElementsByClassName('navbar-static-top')[0].style.height;
        document.getElementById('tab-frame').style.height = iframeHeight + 'px';
        console.log(window.innerHeight + 'px')
    });

    $('#menu li').on('click', function (_this) {
        var chosen = $(this).attr('data-toggle');
        $('#menu li').each(function (index, _this) {
            var toggle = $(_this).attr('data-toggle');
            if (toggle == chosen)
                $(_this).addClass('active');
            else
                $(_this).removeClass('active');
        });
        var src = '';
        if (chosen == '1') {
            src = '/web/listIndex';
        }
        setSrc(src);
    });

    function setSrc(src) {
        document.getElementById('tab-frame').src = src;
    }

</script>
</html>